@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@if(ViewBag.IsAdmin == true)
{
    <p>you are an admin</p>
} else
{
    <p>you are not an admin</p>
}